body {
    /* font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal; */
    
    /* font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal; */
    
    font-family: parisplus-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    background: white;
    box-shadow: 0px 6px 20px aliceblue;
    border-radius: 14px;
    padding: 2rem 2rem 1.4rem 2rem;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    
    // * {
    //     color: #457aa8;
    // }
    
    hr {
        margin: 1.8rem 0rem;
        color: rgb(186, 196, 206);
    }
    
    &__body {
        color: #797979;
    }
}

.order {
    &__no {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-left: .5rem;
        padding: .4rem;
        width: 50px;
        height: 50px;
        background-color: aliceblue;
        color: #457aa8;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        border-radius: 16px;
    }
    
    &__method {
        display: flex;
        align-items: center;
        
        .feather {
            --size: 10px;
            width: 15px;
            height: 15px;
        }
    }
    
    &__pay-status {
        padding: 0.2rem .4rem;
        border-radius: 8px;
        
        &[data-status="true"] {
            background-color: #73ca5d6b;
            color: green;
        }
        
        &[data-status="false"] {
            background-color: #b5b5b530;
            color: grey;
        }
    }
}

.text--modern {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sofia-pro, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #b1b1b1;
}

.text--var {
    color: #457aa8 !important;
    font-weight: 600;
}